// ========= colors =========
$mainColor: #22252A;
$secondaryColor: #8BAA36;
$darkTheme: #1E1F28;
$fontBlack: #23262A;
$whiteColor: #fff;
// $accentColor: #f39a74;
// $bgcSection: #fafafa;
// $blueHover: #188ce8;
// $blackColor: #000;
// $opasity: rgba(255, 255, 255, 0.5);
// $opasitySocial: rgba(255, 255, 255, 0.1);

// ======== fonts =========
$fontMain: "Poppins", sans-serif;
// $fontSecond: "Allura", sans-serif;

// ======== breakpoints =========
$mobileScreen: 480px;
$tabletScreen: 768px;
$desctopScreen: 1280px;
