<section class="myresipe__bg">
  <header class="container header__container">
    <div class="container header__myresipe-place">
      <div>
        <a href="./index.html"
          ><img src="./images/svg/logo.svg" alt="" class="svg__header"
        /></a>
      </div>
      <ul class="nav">
        <li class="nav__list">
          <a class="nav__link" href="./categories.html">Categories</a>
        </li>
        <li class="nav__list">
          <a class="nav__link" href="./add_resipe.html">Add recipes</a>
        </li>
        <li class="nav__list">
          <a class="nav__link active" href="./my_resipes.html">My recipes</a>
        </li>
        <li class="nav__list">
          <a class="nav__link" href="./favorites.html">Favorites</a>
        </li>
        <li class="nav__list">
          <a class="nav__link" href="#">Shopping list</a>
        </li>
        <li class="nav__list svg__nav">
          <a class="nav__link" href="#"
            ><img src="./images/svg/search.svg" alt=""
          /></a>
        </li>
      </ul>
    </div>
  </header>
  <div class="header__myresipe-text">
    <h1 class="myresipe__title">Salmon Avocado Salad</h1>
    <h3 class="myresipe__subtitle">
      Is a healthy salad recipe that’s big on nutrients and flavor. A moist, pan
      seared salmon is layered on top of spinach, avocado, tomatoes, and red
      onions. Then drizzled with a homemade lemon vinaigrette.
    </h3>
    <a href="" class="myresipe__btn btn__other">Add to favorite recipes</a>
    <div class="myresipe__time-place">
      <svg class="cookclock" width="20" height="20">
        <use href="./images/svg/icons.svg#cookclock"></use>
      </svg>
      <p class="myresipe__time">20 min</p>
    </div>
  </div>
</section>
<section class="ingridients__section container">
  <div class="select__ingridients">
    <p>Ingridients</p>
    <ul class="select__ingridients-list">
      <li>Number</li>
      <li>Add to list</li>
    </ul>
  </div>
  <ul class="table__ingridients">
    <li class="table__ingridients-item">
      <div class="table__ingridients-placeone">
        <img
          class="table__ingridients-img"
          src="./images/myresipe/salmon.png"
          alt=""
        />
        <p class="table__ingridients-name">Salmon</p>
      </div>

      <div class="table__ingridients-placetwo">
        <div class="table__ingridients-number">400 g</div>
        <label class="checkbox__label">
          <input class="table__ingridients-check" type="checkbox"
        /></label>
      </div>
    </li>
    <li class="table__ingridients-item">
      <div class="table__ingridients-placeone">
        <img
          class="table__ingridients-img"
          src="./images/myresipe/avocado.png"
          alt=""
        />
        <p class="table__ingridients-name">Avocado</p>
      </div>

      <div class="table__ingridients-placetwo">
        <div class="table__ingridients-number">3</div>
        <input class="table__ingridients-check" type="checkbox" />
      </div>
    </li>
    <li class="table__ingridients-item">
      <div class="table__ingridients-placeone">
        <img
          class="table__ingridients-img"
          src="./images/myresipe/cocumber.png"
          alt=""
        />
        <p class="table__ingridients-name">Cucumber</p>
      </div>

      <div class="table__ingridients-placetwo">
        <div class="table__ingridients-number">1</div>
        <input class="table__ingridients-check" type="checkbox" />
      </div>
    </li>
    <li class="table__ingridients-item">
      <div class="table__ingridients-placeone">
        <img
          class="table__ingridients-img"
          src="./images/myresipe/spinach.png"
          alt=""
        />
        <p class="table__ingridients-name">Spinach</p>
      </div>

      <div class="table__ingridients-placetwo">
        <div class="table__ingridients-number">400 g</div>
        <input class="table__ingridients-check" type="checkbox" />
      </div>
    </li>
    <li class="table__ingridients-item">
      <div class="table__ingridients-placeone">
        <img
          class="table__ingridients-img"
          src="./images/myresipe/mint.png"
          alt=""
        />
        <p class="table__ingridients-name">Mint</p>
      </div>

      <div class="table__ingridients-placetwo">
        <div class="table__ingridients-number">4 tbs</div>
        <input class="table__ingridients-check" type="checkbox" />
      </div>
    </li>
    <li class="table__ingridients-item">
      <div class="table__ingridients-placeone">
        <img
          class="table__ingridients-img"
          src="./images/myresipe/lime.png"
          alt=""
        />
        <p class="table__ingridients-name">Lime</p>
      </div>

      <div class="table__ingridients-placetwo">
        <div class="table__ingridients-number">1</div>
        <input class="table__ingridients-check" type="checkbox" />
      </div>
    </li>
    <li class="table__ingridients-item">
      <div class="table__ingridients-placeone">
        <img
          class="table__ingridients-img"
          src="./images/myresipe/honey.png"
          alt=""
        />
        <p class="table__ingridients-name">Honey</p>
      </div>

      <div class="table__ingridients-placetwo">
        <div class="table__ingridients-number">2 tsp</div>
        <input class="table__ingridients-check" type="checkbox" />
      </div>
    </li>
    <li class="table__ingridients-item">
      <div class="table__ingridients-placeone">
        <img
          class="table__ingridients-img"
          src="./images/myresipe/olive oil.png"
          alt=""
        />
        <p class="table__ingridients-name">Olive Oil</p>
      </div>

      <div class="table__ingridients-placetwo">
        <div class="table__ingridients-number">3 tbs</div>
        <input class="table__ingridients-check" type="checkbox" />
      </div>
    </li>
  </ul>
</section>
<section class="preparation__section container">
  <div class="preparation__main">
    <h3 class="preparation__title">Recipe Preparation</h3>
    <ul class="preparation__list">
      <li class="preparation__item">
        <p class="preparation__number">1</p>
        <p class="preparation__text">Season the salmon, then rub with oil.</p>
      </li>
      <li class="preparation__item">
        <p class="preparation__number">2</p>
        <p class="preparation__text">Mix the dressing ingredients together.</p>
      </li>
      <li class="preparation__item">
        <p class="preparation__number">3</p>
        <p class="preparation__text">
          Halve, stone, peel and slice the avocados. Halve and quarter the
          cucumber lengthways, then cut into slices.
        </p>
      </li>
      <li class="preparation__item">
        <p class="preparation__number">4</p>
        <p class="preparation__text">
          Divide salad, avocado and cucumber between four plates, then drizzle
          with half the dressing.
        </p>
      </li>
      <li class="preparation__item">
        <p class="preparation__number">5</p>
        <p class="preparation__text">
          Heat a non-stick pan. Add the salmon and fry for 3-4 mins on each side
          until crisp but still moist inside.
        </p>
      </li>
      <li class="preparation__item">
        <p class="preparation__number">6</p>
        <p class="preparation__text">
          Put a salmon fillet on top of each salad and drizzle over the
          remaining dressing. Serve warm.
        </p>
      </li>
    </ul>
  </div>
  <div>
    <img
      src="./images/myresipe/img_footer.png"
      alt=""
      class="preparation__img"
    />
  </div>
</section>
