<section class="myresipe__bg">
  <header class="container header__container">
    <div class="container header__myresipe-place">
      <div>
        <a href="./index.html"
          ><img src="./images/svg/logo.svg" alt="" class="svg__header"
        /></a>
      </div>
      <ul class="nav">
        <li class="nav__list">
          <a class="nav__link" href="./categories.html">Categories</a>
        </li>
        <li class="nav__list">
          <a class="nav__link" href="./add_resipe.html">Add recipes</a>
        </li>
        <li class="nav__list">
          <a class="nav__link active" href="./myresipe2.html">My recipes</a>
        </li>
        <li class="nav__list">
          <a class="nav__link" href="./favorites.html">Favorites</a>
        </li>
        <li class="nav__list">
          <a class="nav__link" href="shopping.html">Shopping list</a>
        </li>
        <li class="nav__list svg__nav">
          <a class="nav__link" href="search.html"
            ><img src="./images/svg/search.svg" alt=""
          /></a>
        </li>
      </ul>
    </div>
  </header>
  <div class="header__myresipe-text">
    <h1 class="myresipe__title">Salmon Avocado Salad</h1>
    <h3 class="myresipe__subtitle">
      Is a healthy salad recipe that’s big on nutrients and flavor. A moist, pan
      seared salmon is layered on top of spinach, avocado, tomatoes, and red
      onions. Then drizzled with a homemade lemon vinaigrette.
    </h3>
    <a href="" class="myresipe__btn btn__other">Add to favorite recipes</a>
    <div class="myresipe__time-place">
      <svg class="cookclock" width="20" height="20">
        <use href="./images/svg/icons.svg#cookclock"></use>
      </svg>
      <p class="myresipe__time">20 min</p>
    </div>
  </div>
</section>
