<header class="header__categories container active">
  <div class="container header__container">
    <div>
      <a href="./index.html"
        ><img src="./images/svg/logo.svg" alt="" class="svg__header"
      /></a>
    </div>
    <ul class="nav">
      <li class="nav__list">
        <a class="nav__link" href="./categories.html">Categories</a>
      </li>
      <li class="nav__list">
        <a class="nav__link active" href="./add_resipe.html">Add recipes</a>
      </li>
      <li class="nav__list">
        <a class="nav__link" href="./myresipe2.html">My recipes</a>
      </li>
      <li class="nav__list">
        <a class="nav__link" href="./favorites.html">Favorites</a>
      </li>
      <li class="nav__list">
        <a class="nav__link" href="shopping.html">Shopping list</a>
      </li>
      <li class="nav__list svg__nav">
        <a class="nav__link" href="search.html"
          ><img src="./images/svg/search.svg" alt=""
        /></a>
      </li>
    </ul>
      <div class="username__form">
      <a class="username__link" href=""
        ><img class="iconuser__start" src="./images/svg/Iconuser.svg" alt="" />
        Username</a
      >
      <div class="username__btn">
        <button class="username__login" data-modal-open>Login</button>
        <button class="username__register" data-modal-open1>Register</button>
      </div>
      <div class="username__edit">
        <ul class="username__edit-list">
          <li class="username__edit-item" data-modal-open-edit>Edit profile</li>
          <li class="username__edit-item">
            <img class="username__edit-svg" src="./images/svg/pen.svg" alt="" />
          </li>
        </ul>
        <button
          class="username__edit-btn username__register"
          data-modal-open-logout
        >
          Log out
        </button>
      </div>
    </div>

    <div class="toggle__light toggle__dark">
      <div class="sircle"></div>
    </div>
  </div>
  </div>
</header>
