<header class="header__categories container">
  <div class="container header__container">
    <div>
      <a href="./index.html"
        ><img src="./images/svg/logo.svg" alt="" class="svg__header"
      /></a>
    </div>
    <ul class="nav">
      <li class="nav__list">
        <a class="nav__link active" href="./categories.html">Categories</a>
      </li>
      <li class="nav__list">
        <a class="nav__link" href="./add_resipe.html">Add recipes</a>
      </li>
      <li class="nav__list">
        <a class="nav__link" href="./myresipe2.html">My recipes</a>
      </li>
      <li class="nav__list">
        <a class="nav__link" href="./favorites.html">Favorites</a>
      </li>
      <li class="nav__list">
        <a class="nav__link" href="shopping.html">Shopping list</a>
      </li>
      <li class="nav__list svg__nav">
        <a class="nav__link" href="search.html"
          ><img src="./images/svg/search.svg" alt=""
        /></a>
      </li>
    </ul>
    <div class="profile"></div>
  </div>
</header>
