<header class="header container">
  <div class="container header__container">
    <div>
      <img src="./images/svg/logo.svg" alt="" class="svg__header" />
    </div>
    <ul class="nav">
      <li class="nav__list">
        <a class="nav__link" href="./categories.html">Categories</a>
      </li>
      <li class="nav__list">
        <a class="nav__link" href="./add_resipe.html">Add recipes</a>
      </li>
      <li class="nav__list">
        <a class="nav__link" href="./my_resipes.html">My recipes</a>
      </li>
      <li class="nav__list">
        <a class="nav__link" href="./favorites.html">Favorites</a>
      </li>
      <li class="nav__list"><a class="nav__link" href="#">Shopping list</a></li>
      <li class="nav__list svg__nav">
        <a class="nav__link" href="#"
          ><img src="./images/svg/search.svg" alt=""
        /></a>
      </li>
    </ul>
    <div class="profile"></div>
  </div>
  <section class="hero">
    <div class="hero__container container">
      <h3 class="hero__title">
        <span class="hero__title-green">So</span>Yummy
      </h3>
      <p class="hero__info">
        "What to cook?" is not only a recipe app, it is, in fact, your cookbook.
        You can add your own recipes to save them for the future.
      </p>
      <div class="hero__content">
        <input class="hero__input" type="text" placeholder="Beef |" />
        <button class="btn" type="submit">Search</button>
        <div class="hero__resipes">
          <p class="hero__resipes-text">
            <span>Delicious and healthy</span> way to enjoy a variety of fresh
            ingredients in one satisfying meal
          </p>
          <a href="#" class="hero__resipes-link"
            >See recipes
            <img src="./images/arrow-right.png" alt="" class="hero__arrow"
          /></a>
        </div>
      </div>
      <img class="hero__dish" src="./images/dish.png" alt="" class="dish" />
      <img class="hero__leaf" src="./images/leaf.png" alt="" class="leaf" />
      <img class="hero__bgsmooth" src="./images/smooth_leaf.png" alt="" />
      <img class="hero__arrowresipe" src="./images/arrow_resipe.png" alt="" />
    </div>
  </section>
</header>
