<section class="breakfast">
  <div class="breakfast__container container">
    <h3 class="breakfast__title">Breakfast</h3>
    <ul class="breakfast__list">
      <li class="breakfast__item">
        <p class="breakfast__text">Banana Pancakes</p>
      </li>
      <li class="breakfast__item">
        <p class="breakfast__text">Ham hock colcannon</p>
      </li>
      <li class="breakfast__item">
        <p class="breakfast__text">Polish Pancakes</p>
      </li>
      <li class="breakfast__item">
        <p class="breakfast__text">Boxty Breakfast</p>
      </li>
    </ul>
    <button type="button" class="btn__see">See all</button>
  </div>
</section>
