<main>
  <section class="favorites__container container">
    <h1 class="favorites__title">My Resipe</h1>
    <ul class="favorites__list">
      <li class="favorites__items">
        <div class="favorites__img-place">
          <img
            class="favorites__img"
            src="./images/myresipe/myresipe_apple.png"
            alt=""
          />
        </div>
        <ul class="favorites__subtitle">
          <li class="favorites__subtitle-items favorites__textandimg">
            <p>Apple Frangipan Tart</p>
            <img
              class="favorites__trashimg"
              src="./images/svg/trash.svg"
              alt=""
            />
          </li>
          <li class="favorites__subtitle-items">
            <p class="favorites__subtitle-textresipe">
              Apple Frangipane Tart is a classic and elegant treat fit for any
              dessert table. A crisp, sweet-crust is filled with rich almond
              frangipane filling, baked with sliced apples and finished with
              apricot preserves.
            </p>
            <p class="favorites__subtitle-textresipe">
              We threw a ladies Melbourne Cup lunch and this was our dessert.
              Super quick to prepare using store bought pastry.
            </p>
          </li>

          <li class="favorites__subtitle-items">
            <p class="favorites__subtitle-time">20 min</p>
            <button class="favorites__btn myresipetwo__btn">See recipe</button>
          </li>
        </ul>
      </li>
      <li class="favorites__items">
        <div class="favorites__img-place">
          <img
            class="favorites__img"
            src="./images/myresipe/myresipetwo__tso.png"
            alt=""
          />
        </div>
        <ul class="favorites__subtitle">
          <li class="favorites__subtitle-items favorites__textandimg">
            <p>Tso's Chicken</p>
            <img
              class="favorites__trashimg"
              src="./images/svg/trash.svg"
              alt=""
            />
          </li>
          <li class="favorites__subtitle-items">
            <p class="favorites__subtitle-textresipe">
              General Tso’s Chicken Is A Favorite Chinese Food Takeout Choice
              That Is Sweet And Slightly Spicy With A Kick From Garlic And
              Ginger.
            </p>
            <p class="favorites__subtitle-textresipe">
              General Tso’s Chicken was one of my favorite college days late
              night Chinese food delivery orders. The spicier, zestier less
              popular cousin to the ever popular Orange Chicken, General Tso’s
              Chicken is a fantastic option.
            </p>
          </li>

          <li class="favorites__subtitle-items">
            <p class="favorites__subtitle-time">20 min</p>
            <button class="favorites__btn myresipetwo__btn">See recipe</button>
          </li>
        </ul>
      </li>
      <li class="favorites__items">
        <div class="favorites__img-place">
          <img
            class="favorites__img"
            src="./images/myresipe/myresipetwo__cheese.png"
            alt=""
          />
        </div>
        <ul class="favorites__subtitle">
          <li class="favorites__subtitle-items favorites__textandimg">
            <p>New York cheesecake</p>
            <img
              class="favorites__trashimg"
              src="./images/svg/trash.svg"
              alt=""
            />
          </li>
          <li class="favorites__subtitle-items">
            <p class="favorites__subtitle-textresipe">
              This classic New York cheesecake is the ultimate cheesecake. It’s
              dense, rich and creamy and doesn’t require a water bath like most
              cheesecake recipes, so it’s incredibly easy to make. It’s truly
              one of the best cheesecakes I’ve ever had! Here’s how to make it
              perfect.
            </p>
            <p class="favorites__subtitle-textresipe">
              If you’ve been searching for the richest, creamiest cheesecake,
              you’ve come to the right place. This is the best New York
              cheesecake recipe in the world.
            </p>
          </li>

          <li class="favorites__subtitle-items">
            <p class="favorites__subtitle-time">20 min</p>
            <button class="favorites__btn myresipetwo__btn">See recipe</button>
          </li>
        </ul>
      </li>
      <li class="favorites__items">
        <div class="favorites__img-place">
          <img
            class="favorites__img"
            src="./images/myresipe/myresipetwo__sushi.png"
            alt=""
          />
        </div>
        <ul class="favorites__subtitle">
          <li class="favorites__subtitle-items favorites__textandimg">
            <p>Sushi</p>
            <img
              class="favorites__trashimg"
              src="./images/svg/trash.svg"
              alt=""
            />
          </li>
          <li class="favorites__subtitle-items">
            <p class="favorites__subtitle-textresipe">
              Sushi is a dish that originated in Japan. It’s made with specially
              prepared rice and typically some fish or seafood, which is usually
              raw, but is sometimes cooked.
            </p>
            <p class="favorites__subtitle-textresipe">
              The word sushi refers to the rice that’s used, not the fish. In
              fact, sushi chefs in Japan go through years of training to learn
              how to properly prepare the rice and safely handle the fish and
              seafood.
            </p>
          </li>

          <li class="favorites__subtitle-items">
            <p class="favorites__subtitle-time">20 min</p>
            <button class="favorites__btn myresipetwo__btn">See recipe</button>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="favorites__numbers-container container">
    <ul class="favorites__numbers myresipetwo__numbers">
      <img
        class="favorites__numbers-leftarrow myresipetwo__leftarrow"
        src="./images/svg/left_arrow.svg"
        alt=""
      />
      <img
        class="favorites__numbers-rightarrow"
        src="./images/svg/right_arrow.svg"
        alt=""
      />
      <li class="favorites__numbers-item active">
        <a href="#" target="_blanc" class="favorites__numbers-link">1</a>
      </li>
      <li class="favorites__numbers-item">
        <a href="#" class="favorites__numbers-link">2</a>
      </li>
      <li class="favorites__numbers-item">
        <a href="#" class="favorites__numbers-link">3</a>
      </li>
      <li class="favorites__numbers-item">
        <a href="#" class="favorites__numbers-link">4</a>
      </li>
      <li class="favorites__numbers-item">
        <a href="#" class="favorites__numbers-link">5</a>
      </li>
    </ul>
  </section>
</main>
