<section>
  <div class="container categories__container">
    <h1 class="categorise__title search__title">Search</h1>
  </div>
  <div class="search__nav">
    <div class="search__input">
      <input class="hero__input" type="text" placeholder="Type product |" />
      <button class="btn btn__search" type="submit">Search</button>
    </div>
    <div class="search__field">
      <p class="searh__text">Search by:</p>
      <select
        name="search__type"
        id="search__type"
        class="form__engridients-select searchtype"
      >
        <option value="1">Title</option>
        <option value="2">Ingridients</option>
      </select>
    </div>
  </div>
</section>
<section class="container">
  <div class="alldishes__container">
    <a href="#" class="alldishes__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Banana Pancakes</p>
      </div></a
    >
    <a href="#" class="alldishes__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Ham hock colcannon</p>
      </div></a
    >
    <a href="#" class="alldishes__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Polish Pancakes</p>
      </div></a
    >
    <a href="#" class="alldishes__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Boxty Breakfast</p>
      </div></a
    >
    <a href="#" class="alldishes__link miscellaneous__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Miscellaneous</p>
      </div></a
    >
    <a href="#" class="alldishes__link miscellaneous__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Portuguese custard tarts</p>
      </div></a
    >
    <a href="#" class="alldishes__link miscellaneous__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Salmon Eggs Benedict</p>
      </div></a
    >
    <a href="#" class="alldishes__link miscellaneous__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Stuffed Lamb Tomatoes</p>
      </div></a
    >
    <a href="#" class="alldishes__link chicken__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Teriyaki Chicken Casserole</p>
      </div></a
    >
    <a href="#" class="alldishes__link chicken__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Chicken Alfredo Primavera</p>
      </div></a
    >
    <a href="#" class="alldishes__link chicken__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Potato Gratin with Chicken</p>
      </div></a
    >
    <a href="#" class="alldishes__link chicken__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Piri-piri chicken and slaw</p>
      </div></a
    >
    <a href="#" class="alldishes__link deserts__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Blackberry Fool</p>
      </div></a
    >
    <a href="#" class="alldishes__link deserts__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Choc Chip Pecan Pie</p>
      </div></a
    >
    <a href="#" class="alldishes__link deserts__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Raspberry Brownies</p>
      </div></a
    >
    <a href="#" class="alldishes__link deserts__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Christmas Pudding Trifle</p>
      </div></a
    >
  </div>
</section>
