<section>
  <div class="container categories__container">
    <h1 class="categorise__title">Categories</h1>
    <ul class="categories__list">
      <li class="categories__item">
        <a class="categories__link" href="#">Beef</a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">Chicken</a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">Lamb</a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">Desserts</a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">Goat</a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">Miscellaneous</a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">Side</a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">Pasta</a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">Pork</a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">Seafood</a>
      </li>
      <li class="categories__item">
        <a class="categories__link" href="#">Breakfast</a>
      </li>
    </ul>
  </div>
</section>
<section class="container">
  <div class="alldishes__container">
    <a href="#" class="alldishes__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Banana Pancakes</p>
      </div></a
    >
    <a href="#" class="alldishes__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Ham hock colcannon</p>
      </div></a
    >
    <a href="#" class="alldishes__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Polish Pancakes</p>
      </div></a
    >
    <a href="#" class="alldishes__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Boxty Breakfast</p>
      </div></a
    >
    <a href="#" class="alldishes__link miscellaneous__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Miscellaneous</p>
      </div></a
    >
    <a href="#" class="alldishes__link miscellaneous__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Portuguese custard tarts</p>
      </div></a
    >
    <a href="#" class="alldishes__link miscellaneous__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Salmon Eggs Benedict</p>
      </div></a
    >
    <a href="#" class="alldishes__link miscellaneous__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Stuffed Lamb Tomatoes</p>
      </div></a
    >
    <a href="#" class="alldishes__link chicken__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Teriyaki Chicken Casserole</p>
      </div></a
    >
    <a href="#" class="alldishes__link chicken__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Chicken Alfredo Primavera</p>
      </div></a
    >
    <a href="#" class="alldishes__link chicken__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Potato Gratin with Chicken</p>
      </div></a
    >
    <a href="#" class="alldishes__link chicken__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Piri-piri chicken and slaw</p>
      </div></a
    >
    <a href="#" class="alldishes__link deserts__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Blackberry Fool</p>
      </div></a
    >
    <a href="#" class="alldishes__link deserts__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Choc Chip Pecan Pie</p>
      </div></a
    >
    <a href="#" class="alldishes__link deserts__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Raspberry Brownies</p>
      </div></a
    >
    <a href="#" class="alldishes__link deserts__link"
      ><div class="breakfast__item">
        <p class="breakfast__text">Christmas Pudding Trifle</p>
      </div></a
    >
  </div>
</section>
