<main>
  <section class="favorites__container container">
    <h1 class="favorites__title">Favorites</h1>
    <ul class="favorites__list">
      <li class="favorites__items">
        <div class="favorites__img-place">
          <img class="favorites__img" src="./images/benedict.png" alt="" />
        </div>
        <ul class="favorites__subtitle">
          <li class="favorites__subtitle-items favorites__textandimg">
            <p>Salmon Eggs Benedict</p>
            <img
              class="favorites__trashimg"
              src="./images/svg/trash.svg"
              alt=""
            />
          </li>
          <li class="favorites__subtitle-items">
            <p class="favorites__subtitle-textresipe">
              Salmon eggs are rich in essential nutrients, low in calories, and
              recommended as part of a healthy diet. Including salmon in a
              balanced diet can help decrease the chances of heart disease, ease
              inflammation, and more.
            </p>
            <p class="favorites__subtitle-textresipe">
              Studies have shown a number of potential health benefits to
              seafood rich in omega-3 fatty acids, which include salmon eggs.
            </p>
          </li>

          <li class="favorites__subtitle-items">
            <p class="favorites__subtitle-time">20 min</p>
            <button class="favorites__btn">See recipe</button>
          </li>
        </ul>
      </li>
      <li class="favorites__items">
        <div class="favorites__img-place">
          <img class="favorites__img" src="./images/pasta.png" alt="" />
        </div>
        <ul class="favorites__subtitle">
          <li class="favorites__subtitle-items favorites__textandimg">
            <p>Squash linguine</p>
            <img
              class="favorites__trashimg"
              src="./images/svg/trash.svg"
              alt=""
            />
          </li>
          <li class="favorites__subtitle-items">
            <p class="favorites__subtitle-textresipe">
              Pasta is a type of food typically made from an unleavened dough of
              wheat flour mixed with water or eggs, and formed into sheets or
              other shapes, then cooked by boiling or baking.
            </p>
            <p class="favorites__subtitle-textresipe">
              Rice flour or legumes such as beans or lentils, are sometimes used
              in place of wheat flour to yield a different taste and texture, or
              as a gluten-free alternative. Pasta is a staple food of italian
              cuisine.
            </p>
          </li>

          <li class="favorites__subtitle-items">
            <p class="favorites__subtitle-time">40 min</p>
            <button class="favorites__btn">See recipe</button>
          </li>
        </ul>
      </li>
      <li class="favorites__items">
        <div class="favorites__img-place">
          <img class="favorites__img" src="./images/sugar.png" alt="" />
        </div>
        <ul class="favorites__subtitle">
          <li class="favorites__subtitle-items favorites__textandimg">
            <p>Sugar Pie</p>
            <img
              class="favorites__trashimg"
              src="./images/svg/trash.svg"
              alt=""
            />
          </li>
          <li class="favorites__subtitle-items">
            <p class="favorites__subtitle-textresipe">
              Sugar pie is a dessert in northern French and Belgiancuisine,
              where it is called tarte au sucre. It is also popular in Canada.
            </p>
            <p class="favorites__subtitle-textresipe">
              Various type of tarte au sucre are made. Some are a leavened dough
              topped with beet sugar or brown sugar, others have a crust
              containing a homogeneous sugar mixture which is similar to caramel
              after baking. The French Canadian version of the dessert sometimes
              uses maple syrup.
            </p>
          </li>

          <li class="favorites__subtitle-items">
            <p class="favorites__subtitle-time">1 hour</p>
            <button class="favorites__btn">See recipe</button>
          </li>
        </ul>
      </li>
      <li class="favorites__items">
        <div class="favorites__img-place">
          <img class="favorites__img" src="./images/cho.png" alt="" />
        </div>
        <ul class="favorites__subtitle">
          <li class="favorites__subtitle-items favorites__textandimg">
            <p>General Tso's Chicken</p>
            <img
              class="favorites__trashimg"
              src="./images/svg/trash.svg"
              alt=""
            />
          </li>
          <li class="favorites__subtitle-items">
            <p class="favorites__subtitle-textresipe">
              This is a popular Chinese-American dish that appears in suburban
              Chinese restaurants here in Australia under various other guises.
              Peking-Style Chicken or sometimes something mysteriously titled
              House Special Crispy Chicken. I can never resist a House Special!
            </p>
            <p class="favorites__subtitle-textresipe">
              Crispy chicken. Sticky, spicy, savoury sauce. All good stuff we
              like!
            </p>
          </li>

          <li class="favorites__subtitle-items">
            <p class="favorites__subtitle-time">30 min</p>
            <button class="favorites__btn">See recipe</button>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="favorites__numbers-container container">
    <ul class="favorites__numbers">
      <img
        class="favorites__numbers-leftarrow"
        src="./images/svg/left_arrow.svg"
        alt=""
      />
      <img
        class="favorites__numbers-rightarrow"
        src="./images/svg/right_arrow.svg"
        alt=""
      />
      <li class="favorites__numbers-item active">
        <a href="#" target="_blanc" class="favorites__numbers-link">1</a>
      </li>
      <li class="favorites__numbers-item">
        <a href="#" class="favorites__numbers-link">2</a>
      </li>
      <li class="favorites__numbers-item">
        <a href="#" class="favorites__numbers-link">3</a>
      </li>
      <li class="favorites__numbers-item">
        <a href="#" class="favorites__numbers-link">4</a>
      </li>
      <li class="favorites__numbers-item">
        <a href="#" class="favorites__numbers-link">5</a>
      </li>
      <li class="favorites__numbers-item">
        <a href="#" class="favorites__numbers-link">6</a>
      </li>
      <li class="favorites__numbers-item">
        <a href="#" class="favorites__numbers-link">7</a>
      </li>
      <li class="favorites__numbers-item">
        <a href="#" class="favorites__numbers-link">8</a>
      </li>
    </ul>
  </section>
</main>
