<!-- breakfast -->
<section class="breakfast">
  <div class="breakfast__container container">
    <h3 class="breakfast__title">Breakfast</h3>
    <div class="breakfast__list">
      <a href="#" class="breakfast__link"
        ><div class="breakfast__item">
          <p class="breakfast__text">Banana Pancakes</p>
        </div></a
      >
      <a href="#" class="breakfast__link"
        ><div class="breakfast__item">
          <p class="breakfast__text">Ham hock colcannon</p>
        </div></a
      >
      <a href="#" class="breakfast__link"
        ><div class="breakfast__item">
          <p class="breakfast__text">Polish Pancakes</p>
        </div></a
      >
      <a href="#" class="breakfast__link"
        ><div class="breakfast__item">
          <p class="breakfast__text">Boxty Breakfast</p>
        </div></a
      >
    </div>
    <button type="button" class="btn__see">See all</button>
  </div>
</section>
<!-- Miscellaneous -->
<section class="breakfast miscellaneous">
  <div class="breakfast__container container">
    <h3 class="breakfast__title">Miscellaneous</h3>
    <div class="breakfast__list">
      <a href="#" class="breakfast__link miscellaneous__link"
        ><div class="breakfast__item">
          <p class="breakfast__text">Miscellaneous</p>
        </div></a
      >
      <a href="#" class="breakfast__link miscellaneous__link"
        ><div class="breakfast__item">
          <p class="breakfast__text">Portuguese custard tarts</p>
        </div></a
      >
      <a href="#" class="breakfast__link miscellaneous__link"
        ><div class="breakfast__item">
          <p class="breakfast__text">Salmon Eggs Benedict</p>
        </div></a
      >
      <a href="#" class="breakfast__link miscellaneous__link"
        ><div class="breakfast__item">
          <p class="breakfast__text">Stuffed Lamb Tomatoes</p>
        </div></a
      >
    </div>
    <button type="button" class="btn__see">See all</button>
  </div>
</section>
<!-- Chicken -->
<section class="breakfast chicken">
  <div class="breakfast__container container">
    <h3 class="breakfast__title">Chicken</h3>
    <div class="breakfast__list">
      <a href="#" class="breakfast__link chicken__link"
        ><div class="breakfast__item">
          <p class="breakfast__text">Teriyaki Chicken Casserole</p>
        </div></a
      >
      <a href="#" class="breakfast__link chicken__link"
        ><div class="breakfast__item">
          <p class="breakfast__text">Chicken Alfredo Primavera</p>
        </div></a
      >
      <a href="#" class="breakfast__link chicken__link"
        ><div class="breakfast__item">
          <p class="breakfast__text">Potato Gratin with Chicken</p>
        </div></a
      >
      <a href="#" class="breakfast__link chicken__link"
        ><div class="breakfast__item">
          <p class="breakfast__text">Piri-piri chicken and slaw</p>
        </div></a
      >
    </div>
    <button type="button" class="btn__see">See all</button>
  </div>
</section>
<!-- Desserts -->
<section class="breakfast deserts">
  <div class="breakfast__container container">
    <h3 class="breakfast__title">Desserts</h3>
    <div class="breakfast__list">
      <a href="#" class="breakfast__link deserts__link"
        ><div class="breakfast__item">
          <p class="breakfast__text">Blackberry Fool</p>
        </div></a
      >
      <a href="#" class="breakfast__link deserts__link"
        ><div class="breakfast__item">
          <p class="breakfast__text">Choc Chip Pecan Pie</p>
        </div></a
      >
      <a href="#" class="breakfast__link deserts__link"
        ><div class="breakfast__item">
          <p class="breakfast__text">Raspberry Brownies</p>
        </div></a
      >
      <a href="#" class="breakfast__link deserts__link"
        ><div class="breakfast__item">
          <p class="breakfast__text">Christmas Pudding Trifle</p>
        </div></a
      >
    </div>
    <button type="button" class="btn__see">See all</button>
  </div>
  <div class="btn__other-place">
    <button type="button" class="btn__other">Other categories</button>
  </div>
</section>
