<h1 class="categorise__title shoping__title container">Shopping List</h1>
<section class="ingridients__section container">
  <div class="select__ingridients">
    <p>Products</p>
    <ul class="select__ingridients-list">
      <li>Number</li>
      <li>Remove</li>
    </ul>
  </div>
  <ul class="table__ingridients">
    <li class="table__ingridients-item shoping__item">
      <div class="table__ingridients-placeone shoping__placeone">
        <img
          class="table__ingridients-img shoping__img"
          src="./images/myresipe/salmon.png"
          alt=""
        />
        <p class="table__ingridients-name">Salmon</p>
      </div>

      <div class="table__ingridients-placetwo">
        <div class="table__ingridients-number">400 g</div>
        <p class="shoping__remove">x</p>
      </div>
    </li>
    <li class="table__ingridients-item shoping__item">
      <div class="table__ingridients-placeone shoping__placeone">
        <img
          class="table__ingridients-img shoping__img"
          src="./images/myresipe/avocado.png"
          alt=""
        />
        <p class="table__ingridients-name">Avocado</p>
      </div>

      <div class="table__ingridients-placetwo">
        <div class="table__ingridients-number">3</div>
        <p class="shoping__remove">x</p>
      </div>
    </li>
    <li class="table__ingridients-item shoping__item">
      <div class="table__ingridients-placeone shoping__placeone">
        <img
          class="table__ingridients-img shoping__img"
          src="./images/myresipe/cocumber.png"
          alt=""
        />
        <p class="table__ingridients-name">Cucumber</p>
      </div>

      <div class="table__ingridients-placetwo">
        <div class="table__ingridients-number">1</div>
        <p class="shoping__remove">x</p>
      </div>
    </li>
    <li class="table__ingridients-item shoping__item">
      <div class="table__ingridients-placeone shoping__placeone">
        <img
          class="table__ingridients-img shoping__img"
          src="./images/myresipe/spinach.png"
          alt=""
        />
        <p class="table__ingridients-name">Spinach</p>
      </div>

      <div class="table__ingridients-placetwo">
        <div class="table__ingridients-number">400 g</div>
        <p class="shoping__remove">x</p>
      </div>
    </li>
    <li class="table__ingridients-item shoping__item">
      <div class="table__ingridients-placeone shoping__placeone">
        <img
          class="table__ingridients-img shoping__img"
          src="./images/myresipe/mint.png"
          alt=""
        />
        <p class="table__ingridients-name">Mint</p>
      </div>

      <div class="table__ingridients-placetwo">
        <div class="table__ingridients-number">4 tbs</div>
        <p class="shoping__remove">x</p>
      </div>
    </li>
    <li class="table__ingridients-item shoping__item">
      <div class="table__ingridients-placeone shoping__placeone">
        <img
          class="table__ingridients-img shoping__img"
          src="./images/myresipe/lime.png"
          alt=""
        />
        <p class="table__ingridients-name">Lime</p>
      </div>

      <div class="table__ingridients-placetwo">
        <div class="table__ingridients-number">1</div>
        <p class="shoping__remove">x</p>
      </div>
    </li>
    <li class="table__ingridients-item shoping__item">
      <div class="table__ingridients-placeone shoping__placeone">
        <img
          class="table__ingridients-img shoping__img"
          src="./images/myresipe/honey.png"
          alt=""
        />
        <p class="table__ingridients-name">Honey</p>
      </div>

      <div class="table__ingridients-placetwo">
        <div class="table__ingridients-number">2 tsp</div>
        <p class="shoping__remove">x</p>
      </div>
    </li>
    <li class="table__ingridients-item shoping__item">
      <div class="table__ingridients-placeone shoping__placeone">
        <img
          class="table__ingridients-img shoping__img"
          src="./images/myresipe/olive oil.png"
          alt=""
        />
        <p class="table__ingridients-name">Olive Oil</p>
      </div>

      <div class="table__ingridients-placetwo">
        <div class="table__ingridients-number">3 tbs</div>
        <p class="shoping__remove">x</p>
      </div>
    </li>
  </ul>
</section>
