.btn {
  width: 161px;
  height: 70px;
  border-radius: 25px 50px;
  border: 1px solid $mainColor;
  position: absolute;
  right: 0;
  background-color: $mainColor;
  color: #FAFAFA;

  font-family: $fontMain;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  z-index: 55; 
  transition: 0.5s all ease;
  cursor: pointer;
   
  &:hover{
    background-color: $secondaryColor;
    border: none;
  }
}

.btn__see{
  align-self: end;
  margin-top: 50px;
  width: 98px;
  height: 38px;
  background-color: $secondaryColor;
  border: none;
  border-radius: 6px;

  font-family: $fontMain;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: $whiteColor;
  transition: 0.5s all ease;
  cursor: pointer;
  margin-bottom: 6px;

  &:hover{
    box-shadow: 0px 4px 4px rgba(0,0,0,0.5)
  }
  @media screen and (max-width: $tabletScreen) {
   margin-top: 25px;
   align-self: center;
   margin-bottom: 20px;
   width: 350px;
  }
}