.body {
  position: relative;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 1000;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 1140px;
  height: 750px;
  padding: 40px 40px 20px 40px;
  background: $whiteColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


  
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url("../images/bg_regs.png");
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 16px;
}

.modal__placereg{
  background-color: #2A2C36;
  padding: 44px 0px;
  border-radius: 16px;
  height: 400px;
}

.modal__regimg-img{
    width: 532px;
    height: 468px;
}

.edit__modal{
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 40%;
  top: 20%;
  background-color: #fff;
  border-radius: 15px;
}

.editmodal__user{
  padding: 20px;
  width: 100px;
  height: 100px;  
  background-color: rgba(128,128,128,0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.edit__modal-svg{
  width: 40px;
  height: 40px;
  position: relative;

  opacity: 0.3;
}

.edit__modal-plus{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  background-color: $secondaryColor;
  left: 56%;
  top: 38%;
  opacity: 1;

  color: #fff;
  font-family: $fontMain;
}


.logout__modal {
  width: 510px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 35%;
  top: 30%;
  background-color: #fff;
  border-radius: 15px;
}

.logout__field {
}
.logout__text {
  font-family: $fontMain;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #23262A;


}
.logout__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.logot__btn {
  width: 192px;
  height: 60px;

   font-family: $fontMain;
font-size: 16px;
font-weight: 400;
line-height: 18px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #fafafa;

background-color: $secondaryColor;
cursor: pointer;
border-radius:8px;
border: none;
transition: 0.5s all ease;

&:hover{
  box-shadow: 0px 0px 4px rgba(0,0,0,0.5)
}
}
.cancel__btn {
  margin-left: 20px;
  background-color: #D9D9D9;
color:#23262A;

}


.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 50px;
  width: 50px;  
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.modal__close--icon {
  display: inline-block;
  fill: $mainColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  height: 40px;
  width: 40px;
  position: absolute;
  top: 4px;
  right: 4px;

  &:hover, &:focus {
fill: $secondaryColor;
  }
}

.modal__form--title {
  display: block;
  font-family: $fontMain;
  font-weight: 700;
  color: $whiteColor;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 12px;
  width: 370px;
  padding-left: 40px;
}

.modal__form--details {
  margin-bottom: 20px;
}

.modal__form--field {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.modal__form--label {
  font-family: $fontMain;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal__form--input {
  height: 40px;
  width: 300px;
  padding: 11px 42px;
  outline: transparent;
  border: 1px solid #FAFAFA;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #2A2C36;

    font-family: $fontMain;
font-size: 14px;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.02em;
text-align: left;

  color: #FAFAFA;
}

.input__edit{
 height: 40px;
  width: 300px;
  padding: 11px 42px;
  outline: transparent;
  border: 1px solid grey;
  border-radius: 8px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;

    font-family: $fontMain;
font-size: 14px;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.02em;
text-align: left;
  color: #2A2C36;

  

  &::placeholder{
     font-family: $fontMain;
font-size: 14px;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.02em;
text-align: left;

  color: grey;
  opacity: 0.5;
  }
}

.modal__form--input::placeholder {
  
  font-family: $fontMain;
font-size: 14px;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.02em;
text-align: left;

  color: #fafafa;
  opacity: 0.5;
}




.form__input--icon {
  position: absolute;
  left: 12px;
  bottom: 12px;
  fill: #fafafa;
  opacity: 0.7;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__edit--icon{
  position: absolute;
  left: 12px;
  bottom: 12px;
  fill: grey;
  opacity: 0.7;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form__input--comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input--comment:hover,
.form__input--comment:focus,
.form__input--comment:checked {
  border: 1px solid blue;
}

.form__input--comment::placeholder {
  font-family: $fontMain;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__form--btn {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 300px;
  height: 40px;
  background-color: $secondaryColor;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  font-family: $fontMain;
font-size: 16px;
font-weight: 400;
line-height: 18px;
text-align: center;
color: #fafafa;
transition: 0.5s all ease;

&:hover{
  background-color: #add343;
}
}

.edit__btn{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 300px;
  height: 40px;
  background-color: $secondaryColor;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  font-family: $fontMain;
font-size: 16px;
font-weight: 400;
line-height: 18px;
text-align: center;
color: #fafafa;
transition: 0.5s all ease;

&:hover{
  // background-color: #add343;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.5)
}
}