.footer {
  background-color: #22252A;
  padding: 60px 0;
  position: relative;
@media screen and (max-width: $tabletScreen) {
   padding-bottom: 20px;
   display: flex;
align-items: center;
flex-direction: column;
  }

  &.dark__theme{
    background-color: $secondaryColor;
    opacity: 0.9;
  }
}
.footer__container {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);

  @media screen and (max-width: $desctopScreen) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
  }

  @media screen and (max-width: $tabletScreen) {
   grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.5fr 1.5fr 0.5fr;
  }
  
}


.yammy__footer {
  display: flex;
  flex-direction: column;
  
}
.yammy__footer-text {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  z-index: 50;
  
  @media screen and (max-width: $tabletScreen){
    justify-content: center;
    margin-bottom: 0;
  }
}

.yammy__footer-text p{
 font-family: $fontMain;
font-size: 28px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0.015em;
text-align: left;
margin-left: 12px;
color: $grayColor;

}


.yammy__footer-list {
  z-index: 50;
}
.yammy__footer-item {
font-family: $fontMain;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;
margin-bottom: 12px;
margin-left: 4px;
color: $grayColor;

@media screen and (max-width: $tabletScreen){
    display: none;
  }
}
.social__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

   @media screen and (max-width: $desctopScreen) {
    padding-left: 130px;
  }
  @media screen and (max-width: $tabletScreen){
    padding-left: 0;
    text-align: center;
  }
}
.sicial__footer-list {
  display: flex;
  flex-direction: column;
}
.sicial__footer-item {
 

margin-bottom: 24px;

&:last-child{
  margin-bottom: 95px;
}

}

.sicial__footer-link{
   font-family: $fontMain;
font-size: 14px;
font-weight: 500;
line-height: 18px;
letter-spacing: -0.02em;
text-align: left;
color: $grayColor;

&:hover{
  color: #8BAA36;
}
 @media screen and (max-width: $desctopScreen) {
    font-size: 18px;
  }

  &.dark__theme{
    color: #fff;
  }
}

.subscribe__footer {
  display: flex;
  flex-direction: column;
  width: 330px;

   @media screen and (max-width: $desctopScreen) {
  grid-column: span 2 / span 2;
  align-self: center;
  justify-self: center;
  }

  @media screen and (max-width: $tabletScreen){
    grid-column: auto;
  }
  
}
.subscribe__footer-title {
  font-family: $fontMain;
font-size: 18px;
font-weight: 700;
line-height: 27px;
text-align: left;
color: $grayColor;
margin-bottom: 14px;

@media screen and (max-width: $desctopScreen) {
   display: none;
  }
}
.subscribe__footer-subtitle {
  font-family: $fontMain;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.02em;
text-align: left;
color: $grayColor;
margin-bottom: 28px;

@media screen and (max-width: $desctopScreen) {
   display: none;
  }
}
.subscribe__footer-input {
padding: 18px 61px;
border: 1px solid #FAFAFA;
border-radius: 8px;
background-color: #22252A;
color: #FAFAFA;
font-family: $fontMain;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.02em;
text-align: left;
background-image: url("../images/svg/konvert.svg");
background-repeat: no-repeat;
background-position-x: 8%;
background-position-y: 50%;
opacity: 0.7;


&.dark__theme{
  background-color: transparent;
  outline: none;
  &:hover{
    border: 1px solid #ffffffaf;
  }
}

&:hover{
  border: 1px solid #8BAA36;
}
  &::placeholder{
    font-family: $fontMain;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.02em;
text-align: left;
color: $grayColor;
background-color: transparent;
@media screen and (max-width: $desctopScreen) {
   font-size: 16px;
  }
  }
@media screen and (max-width: $desctopScreen) {
   padding: 14px 69px;
  }

}
.subscribe__footer-btn {
  font-family: $fontMain;
font-size: 16px;
font-weight: 400;
line-height: 18px;
text-align: center;
color: $grayColor;
padding: 21px 126px;
background-color: #8BAA36;
margin-top: 16px;
border: none;
border-radius: 8px;
cursor: pointer;
transition: 0.5s all ease;

@media screen and (max-width: $desctopScreen) {
   padding: 16px 50px;
   
  }

  &.dark__theme{
    background-color: $mainColor;

    &:hover{
      color: $secondaryColor;
    }
  }
}


.rights__cantainer {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.rights__text {
  font-family: $fontMain;
font-size: 14px;
font-weight: 500;
line-height: 14px;
letter-spacing: -0.01em;
text-align: left;
color: gray;
margin-right: 40px;
}

.rights__text-sub{
  font-family: $fontMain;
font-size: 14px;
font-weight: 400;
line-height: 14px;
letter-spacing: -0.01em;
text-align: left;
color: gray;

}