.alldishes__leaf{
  position: absolute;
  z-index: 0;
  top: -29%;
  left: -5%;
  width: 600px;
  height: 600px;

  @media screen and (max-width: $tabletScreen) {
     top: -19%;
  left: -55%;
  }
}

.footer__categories{
  position: relative;
  overflow: clip;
}