.myresipe__bg{
  background-image: url("../images/myresipe/img__header.png");
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 36px;
}
.header__myresipe{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header__myresipe-place{
  display: flex;
  position: relative;
  z-index: 55;
  margin: 0;
}


.header__myresipe-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.myresipe__title {
  font-family: $fontMain;
font-size: 44px;
font-weight: 600;
line-height: 44px;
letter-spacing: -0.02em;
text-align: left;
color:#8BAA36;
margin-bottom: 24px;
margin-top: 100px;
}
.myresipe__subtitle {
  font-family: $fontMain;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: center;
color: #23262A;
max-width: 670px;
}
.myresipe__btn {
  font-family: $fontMain;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #23262A;
padding: 18px 44px;
margin-top: 30px;
background-color: rgba(255, 255, 255, 0.1);

&:hover{
  background-color: #8BAA36;
}
}
.myresipe__time-place{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  max-width: 100px;
  margin-bottom: 32px;
}
.myresipe__time {
font-family: $fontMain;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: -0.23999999463558197px;
text-align: left;
color: #23262A;
margin-left: 10px;
}

.cookclock {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  top: 346px;
  left: 900px;
}

// =====================

.ingridients__section {
  margin-top: 50px;
  margin-bottom: 76px;
}

.select__ingridients {
  display: flex;
  justify-content: space-between;
  padding:21px 40px;
  background-color: #8BAA36;
  border-radius: 8px;
  margin-bottom: 50px;

  font-family: $fontMain;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0.03em;
text-align: left;
color: #fafafa;

}
.select__ingridients-list{
  display: flex;
  
}
.select__ingridients-list:last-child li{
  margin-left: 109px;
}

.table__ingridients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table__ingridients-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1250px;
  background-color: #EBF3D4;
  border-radius: 8px;
  margin-bottom: 24px;
  transition: background-color 0.5s ease;

  &:hover{
    background-color: rgba(235, 243, 212, 0.7);
  }
}

.table__ingridients-img{
margin-right: 66px;

width: 128px;
height: 128px;
}

.table__ingridients-name {

  font-family: $fontMain;
font-size: 24px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.23999999463558197px;
text-align: left;
color: #3E4462;


}

.table__ingridients-number {

  width: 72px;

  font-family: $fontMain;
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: left;
color: #FAFAFA;
text-align: center;

padding: 4px 8px;
background-color: #8BAA36;
border-radius: 8px;
}

// .table__ingridients-check{
//   width: 35px;
//   height: 35px;
//   background-color: green;
//   border: 1px solid #7E7E7E;
//   border-radius: 8px;
//   margin-right: 70px;
//   margin-left: 140px;
// }

.table__ingridients-check{
 
    margin-right: 70px;
  margin-left: 140px;
}

.checkbox__label{
   width: 35px;
  height: 35px;
  display: inline-block;
  background-color: #EBF3D4;
  border-radius: 8px;
  border: 1px solid grey;
  cursor: pointer;
  margin-right: 70px;
  margin-left: 140px;

  &::after{
    content: "";
    
  }
}

.table__ingridients-placeone{
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 58px;
  
}
.table__ingridients-placetwo{
  display: flex;
  align-items: center;
  justify-content: center;
}

// ==============================

.preparation__section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 200px;
}

.preparation__main {
  display: flex;
  flex-direction: column;
}
.preparation__title {
  font-family: $fontMain;
font-size: 24px;
font-weight: 600;
line-height: 24px;
letter-spacing: -0.23999999463558197px;
text-align: left;
color: #3E4462;

margin-bottom: 32px;
}
.preparation__list {
  display: flex;
  flex-direction: column;
}
.preparation__item {
  display: flex;
  align-items: center;

  margin-bottom: 18px;
}
.preparation__number {
  font-family: $fontMain;
font-size: 14px;
font-weight: 600;
line-height: 21px;
text-align: center;
border-radius: 50%;
background-color: #8BAA36;
color: #fff;

width: 22px;
height: 22px;
padding-top: 1px;

margin-right: 14px;

display: inline-block;

}
.preparation__text {
  font-family: $fontMain;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.02em;
text-align: left;
color: black;
}
.preparation__img {
  width: 433px;
  height: 332px;
}