.myresipe__bg{
  background-image: url("../images/myresipe/img__header.png");
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: $desctopScreen) {
    background-image: url("../images/myresipe/img_header-tablet.png");
  }
}

.nav__link-myresipe{
  &.dark__theme{
    color: $mainColor;
    fill: $mainColor;
  }
}

.header__myresipe{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header__myresipe-place{
  display: flex;
  position: relative;
  z-index: 55;
  margin: 0;
}


.header__myresipe-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.myresipe__title {
  font-family: $fontMain;
font-size: 44px;
font-weight: 600;
line-height: 44px;
letter-spacing: -0.02em;
text-align: left;
color:#8BAA36;
margin-bottom: 24px;
margin-top: 50px;

@media screen and (max-width: $desctopScreen) {
    margin-top: 0;
  }
  @media screen and (max-width: $tabletScreen) {
    text-align: center;
    font-size: 24px;
    line-height: 24px;
  }
}
.myresipe__subtitle {
  font-family: $fontMain;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3;
text-align: center;
color: #23262A;
max-width: 670px;

@media screen and (max-width: $tabletScreen) {
    font-size: 16px;
    font-weight: 500;
  }
}
.myresipe__btn {
  font-family: $fontMain;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #23262A;
padding: 18px 44px;
margin-top: 30px;
background-color: rgba(255, 255, 255, 0.1);

&:hover{
  background-color: #8BAA36;
  color: #fff;
}

&:active{
  background-color: #8BAA36;
  color: #fff;
}

@media screen and (max-width: $tabletScreen) {
   font-weight: 500; 
  }

  &.dark__theme{
    background-color: #ffffff1a;
    color: $mainColor;
  }
}
.myresipe__time-place{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  max-width: 100px;
  margin-bottom: 32px;
}
.myresipe__time {
font-family: $fontMain;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: -0.23999999463558197px;
text-align: left;
color: #23262A;
margin-left: 10px;
}

.cookclock {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  top: 346px;
  left: 900px;
}

