.header {
  margin-top: 36px;
  background-image: url("../images/bg2.png");
  background-repeat: no-repeat;
  background-position: 750px -100px;
  border-radius: 20px;

   @media screen and (max-width: $desctopScreen) {
    background-position: 550px -100px;
    padding-bottom: 100px;
  }
  @media screen and (max-width: $tabletScreen) {
    background-position: 170px -150px;
    padding-bottom: 0;
  }
}

.header__container {
  display: flex;
  padding-top: 28px;
  padding-bottom: 80px;
  position: relative;
  z-index: 49;
}
.svg__header {
  height: 44px;
  width: 44px;
  margin-right: 187px;
   @media screen and (max-width: $mobileScreen) {
    margin-right: 100px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 800px;

 @media screen and (max-width: $desctopScreen) {
    display: none;
  }
}


.nav__link {
font-family: $fontMain;
font-size: 16px;
font-weight: 500;
line-height: 22.4px;
color: $fontBlack;
text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;

&:hover{
  color: $secondaryColor;
  fill: $secondaryColor;
}


}
.svg__nav {
  color: $secondaryColor;
  fill: $secondaryColor;
}

.iconuser__start{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.342);
  padding: 6px;
}

.username__link{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;

  font-family: $fontMain;
font-size: 16px;
font-weight: 500;
line-height: 22.4px;
color: $fontBlack;

  &:hover{
    color: $secondaryColor;
  }

  @media screen and (max-width: $tabletScreen) {
    margin-right: 10px;
    margin-left: 40px;
  }
}

.username__form{
  display: inline-block;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}
.username__form:hover .username__btn{
  display: block;
}

.username__btn {
  display: none;
  position: absolute;
  left: 1000px;
  top: 70px;
}
.username__login {
  width: 70px;
      border-radius: 25px 50px;
  background-color: $secondaryColor;
  border: none;
  padding: 5px;
  transition: 0.5s all ease;
  cursor: pointer;

  &:hover{
    box-shadow: 0px 4px 4px rgba(0,0,0,0.5)
  }

  font-family: $fontMain;
font-size: 14px;
font-weight: 500;
line-height: 22.4px;
color: $whiteColor;
}
.username__register {
  font-family: $fontMain;
font-size: 14px;
font-weight: 500;
line-height: 22.4px;
color: $whiteColor;


width: 85px;
      border-radius: 25px 50px;
  background-color: $secondaryColor;
  border: none;
  padding: 5px;
  transition: 0.5s all ease;
  cursor: pointer;

  &:hover{
    box-shadow: 0px 4px 4px rgba(0,0,0,0.5)
  }
}


.username__edit {
  padding: 18px;
  border-radius: 16px;
  position: absolute;
  left: 1000;
  top: 55px;
  display: none;
}
.username__edit-list {
  display: flex;
  align-items: center;
}
.username__edit-item {
  margin-bottom: 10px;
  cursor: pointer;

  font-family: $fontMain;
font-size: 14px;
font-weight: 500;
line-height: 22.4px;
color: $fontBlack;
}
.username__edit-svg {
  margin-left: 10px;
}

.toggle__light{
  width: 61px;
  height: 27px;
  border-radius: 20px;
  background-color: gray;
  display: flex;
  align-self: center;
  padding: 3px;
  margin-left: 20px;
  transition: 0.5s all ease-in;
  margin-left: 55px;

  @media screen and (max-width: $desctopScreen) {
    display: none;
  }
}
.toggle__dark{
  background-color: $secondaryColor;
  justify-content: end;
  transition: 0.5s all ease-in;
  @media screen and (max-width: $desctopScreen) {
    display: none;
  }
}

.sircle{
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
}

// ====================================

.hero {
  margin-top: 162px;
  margin-bottom: 100px;
  @media screen and (max-width: $tabletScreen) {
    margin-top: 0;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  
}

.hero__title {
font-family: $fontMain;
font-size: 100px;
font-weight: 400;
line-height: 100px;
letter-spacing: -0.005em;
color: $mainColor;
z-index: 50;

margin-bottom: 14px;

 @media screen and (max-width: $desctopScreen) {
    font-size: 72px;
  }
  @media screen and (max-width: $tabletScreen) {
    font-size: 60px;
    text-align: center;
  }
}
.hero__title-green {
  color:$secondaryColor;
}
.hero__info {
font-family: $fontMain;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;
color: $fontBlack;
max-width: 465px;
max-height: 72px;
margin-bottom: 50px;
z-index: 50;

 @media screen and (max-width: $desctopScreen) {
    font-size: 14px;
  }
  @media screen and (max-width: $tabletScreen) {
    text-align: center;
    margin-bottom: 157px;
  }
}
.hero__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

@media screen and (max-width: $tabletScreen) {
    flex-direction: column-reverse;

  }
  
}
.hero__input {
  width: 510px;
  height: 71px;
  border-radius: 25px 50px;
  border: 1px solid rgb(129, 128, 128, 0.5);
  outline: none;
  padding-left: 50px;

  font-family: $fontMain;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
// position: relative;

  &::placeholder{

    font-family: $fontMain;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #BDBDBD;
  }

   @media screen and (max-width: $desctopScreen) {
    width: 360px;
  }
}

.input__place{
  position: relative;
}

.hero__resipes {
  width: 298px;
  height: 114px;
  background-color: #fff;
  z-index: 50;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  @media screen and (max-width: $tabletScreen) {
    margin-bottom: 115px;
  }
}
.hero__resipes-text {
  font-family: $fontMain;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: -0.23999999463558197px;
text-align: left;
color: #3E4462;
z-index: 50;

@media screen and (max-width: $tabletScreen) {
    font-size: 12px;
  }

& span{
  color: $secondaryColor;
}
}
.hero__resipes-link {
font-family: $fontMain;
font-size: 10px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0.20000000298023224px;
color: #3E4462;

display: flex;
align-items: center;
justify-content: right;
gap: 5px;

&:hover{
  color: $secondaryColor;
}
}
.hero__arrowresipe{
  width: 167px;
  height: 89px;
  position: absolute;
  top: 61%;
  right: 340px;
  z-index: 10;
}

.hero__leaf {
  position: absolute;
  top: -10%;
  right: 10px;
  z-index: 5;

  @media screen and (max-width: $desctopScreen) {
    // max-width: 550px;
    height: 800px;
  }

  @media screen and (max-width: $tabletScreen) {
    // top: 8%;
    // right: -50px;
    display: none;
  }

}
.hero__bgsmooth {
 width: 438px;
 height: 474px;
 position: absolute;
  top: -10%;
  left: -200px;
  // z-index: 10;
}

.hero__dish{
  width: 578px;
  height: 539px;
  position: absolute;
  top: 21%;
  right: 400px;
  z-index: 10;

  @media screen and (max-width: $desctopScreen) {
    width: 350px;
    height: 350px;

    top: 35%;
    right: 15%;
  }
  @media screen and (max-width: $tabletScreen) {
   top: 47%;
   right: 25%;
  }
}

