// ================================categories 

.container {
}
.categories__container {
  display: flex;
  flex-direction: column;
}
.categorise__title {
  font-family: $fontMain;
font-size: 44px;
font-weight: 600;
line-height: 44px;
letter-spacing: -0.02em;
text-align: left;
color: #001833;

margin-bottom: 100px;
 @media screen and (max-width: $desctopScreen) {
     font-size: 32px;
     line-height: 32px;
     margin-bottom: 50px;
  }
  @media screen and (max-width: $tabletScreen) {
    font-size: 28px;
    line-height: 28px;
  }
}

.categories__list {
display: flex;
justify-content: space-around;
padding: 10px 28px;
margin-bottom: 50px;
border-bottom: 1px solid #BDBDBD;

z-index: 50;
@media screen and (max-width: $desctopScreen) {
    
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;

     border: none;
     padding: 10px 0;
  }
  @media screen and (max-width: $tabletScreen) {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
.categories__item{

  @media screen and (max-width: $tabletScreen) {
    &:nth-child(5){
      grid-row-start: 2;
    }
    &:nth-child(6){
      grid-row-start: 3;
      grid-column: 3;
    }
    &:nth-child(7){
      grid-row-start: 2;
    }
    &:nth-child(8){
      grid-row-start: 2;
    }
    &:nth-child(9){
      grid-row-start: 2;
      grid-column: 3;
    }
    &:nth-child(10){
      grid-row-start: 3;
    }
    &:nth-child(11){
      grid-row-start: 3;
    }
  }
}
.categories__link{
  font-family: $fontMain;
font-size: 18px;
font-weight: 400;
line-height: 18px;
text-align: left;
color: #BDBDBD;


@media screen and (max-width: $tabletScreen) {
  font-size: 16px;
  line-height: 16px;
  }
&:hover{
  color: #8BAA36;
}
position: relative;
  &::after{
     content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #8BAA36;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: $desctopScreen) {
     display: none;
  }
  }
}

.categories__link:active{
  @media screen and (max-width: $tabletScreen) {
    color: #8BAA36;
  }
}

.categories__link:hover::after,
.categories__link:focus::after,
.categories__link--active::after {
  transform: scaleX(1);
}

// ======================

.alldishes__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  max-width: 100%;

  @media screen and (max-width: $desctopScreen) {
justify-content: space-around;
  }
  @media screen and (max-width: $tabletScreen) {
    
  }
}

.alldishes__link{
  font-family: $fontMain;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.3px;
  text-align: center;
  color: #3E4462;
  border: none;
  border-radius: 8px;

  margin-bottom: 100px;
  transition: 0.5s all ease;
  @media screen and (max-width: $desctopScreen) {
&:nth-child(7){
 display: none;
  }
&:nth-child(8){
 display: none;
  }
&:nth-child(9){
 display: none;
  }
&:nth-child(10){
 display: none;
  }
&:nth-child(11){
 display: none;
  }
&:nth-child(12){
 display: none;
  }
&:nth-child(13){
 display: none;
  }
&:nth-child(14){
 display: none;
  }
&:nth-child(15){
 display: none;
  }
&:nth-child(16){
 display: none;
  }
  }

  &:hover{
    color: $secondaryColor;
  }

    &:nth-child(1){
  background-image: url("../images/breakfast1.png");
  }
  &:nth-child(2){
  background-image: url("../images/hamhock.jpg");
  }
  &:nth-child(3){
  background-image: url("../images/polish.jpg");
  }
  &:nth-child(4){
  background-image: url("../images/boxty.jpg");
  }
  &:nth-child(5){
  background-image: url("../images/prego_por.jpg");
  }
  &:nth-child(6){
  background-image: url("../images/custard_tarts.jpg");
  }
  &:nth-child(7){
  background-image: url("../images/eggs_benedict.jpg");
  }
  &:nth-child(8){
  background-image: url("../images/lamb_tomatoes.jpg");
  }
  &:nth-child(9){
    background-image: url("../images/chicken_casserole.jpg");
  }
  &:nth-child(10){
    background-image: url("../images/primavera.jpg");
  }
  &:nth-child(11){
    background-image: url("../images/gratin_chicken.jpg");
  }
  &:nth-child(12){
    background-image: url("../images/chicken_slaw.jpg");
  }
  &:nth-child(13){
    background-image: url("../images/blackberry_fool.jpg");
  }
  &:nth-child(14){
    background-image: url("../images/chip_pecan_pie.jpg");
  }
  &:nth-child(15){
    background-image: url("../images/raspberry_brownies.jpg");
  }
  &:nth-child(16){
    background-image: url("../images/pudding_trifle.jpg");
  }
  
}

