.breakfast {
  margin-top: 100px;
  // margin-bottom: 100px;
   @media screen and (max-width: $desctopScreen) {
    margin-top: 0;
  }
}
.breakfast__container {
  display: flex;
  flex-direction: column;
  
}

.breakfast__title {
font-family: $fontMain;
font-size: 44px;
font-weight: 600;
line-height: 44px;
letter-spacing: -0.02em;
text-align: left;
margin-bottom: 50px;

@media screen and (max-width: $tabletScreen) {
   font-size: 28px;
   line-height: 28px;
  }
  @media screen and (max-width: $tabletScreen) {
   text-align: center;
  }
}

.breakfast__list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 100%;
  @media screen and (max-width: $desctopScreen) {
   flex-wrap: wrap;
  }
  @media screen and (max-width: $tabletScreen) {
   justify-content: center;
  }
}

.breakfast__item {
  max-width: 100%;
  width: 300px;
  height: 323px;
  padding: 247px 15px 24px 15px;
  border: none;
}

.breakfast__text {
padding: 16px 0 16px 0;
max-width: 268px;
background-color: $whiteColor;
border-radius: 8px;
}

.breakfast__link{
  font-family: $fontMain;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.23999999463558197px;
  text-align: center;
  color: #3E4462;
  border: none;
  border-radius: 8px;
  width: 280px;

  &:hover{
    color: $secondaryColor;
  }

  &:nth-child(1){
  background-image: url("../images/breakfast1.png");
  }
  &:nth-child(2){
  background-image: url("../images/hamhock.jpg");
  @media screen and (max-width: $tabletScreen) {
   display: none;
  }
  }
  &:nth-child(3){
  background-image: url("../images/polish.jpg");
  @media screen and (max-width: $desctopScreen) {
   display: none;
  }
  }
  &:nth-child(4){
  background-image: url("../images/boxty.jpg");
  @media screen and (max-width: $desctopScreen) {
   display: none;
  }
  }

  @media screen and (max-width: $desctopScreen) {
   width: 330px;
   background-size: cover;
   display: flex;
   justify-content: center;
  }
  @media screen and (max-width: $tabletScreen) {
   width: 350px;
  }
}

// ==============================miscellaneous__link

.miscellaneous__link{
  &:nth-child(1){
  background-image: url("../images/prego_por.jpg");

  }
  &:nth-child(2){
  background-image: url("../images/custard_tarts.jpg");
  }
  &:nth-child(3){
  background-image: url("../images/eggs_benedict.jpg");
  }
  &:nth-child(4){
  background-image: url("../images/lamb_tomatoes.jpg");
  }
}


// ===========================chicken 
.chicken__link {
  &:nth-child(1){
    background-image: url("../images/chicken_casserole.jpg");
  }
  &:nth-child(2){
    background-image: url("../images/primavera.jpg");
  }
  &:nth-child(3){
    background-image: url("../images/gratin_chicken.jpg");
  }
  &:nth-child(4){
    background-image: url("../images/chicken_slaw.jpg");
  }
}
// ===================== deserts

.deserts__link{
  &:nth-child(1){
    background-image: url("../images/blackberry_fool.jpg");
  }
  &:nth-child(2){
    background-image: url("../images/chip_pecan_pie.jpg");
  }
  &:nth-child(3){
    background-image: url("../images/raspberry_brownies.jpg");
  }
  &:nth-child(4){
    background-image: url("../images/pudding_trifle.jpg");
  }
}

.btn__other-place {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 118px;
  @media screen and (max-width: $desctopScreen) {
    margin-bottom: 50px;
  }
}

.btn__other {
  padding: 20px 52px;
  border: 1px solid #8BAA36;
  border-radius: 25px 50px;
  align-self: center;
  font-family: $fontMain;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #22252A;
background-color: #fff;
cursor: pointer;
transition: 0.5s all ease;

&:hover{
  background-color: $secondaryColor;
  color: #fafafa;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.5);
}

@media screen and (max-width: $tabletScreen) {
    margin-top: 20px;
  }
}




