.resipe__container{
  z-index: 50;
  margin-bottom: 200px;
  @media screen and (max-width: $desctopScreen) {
     margin-bottom: 70px;
  }
  @media screen and (max-width: $tabletScreen) {
     margin-bottom: 40px;
  }
}

.resipe__title {

  margin-bottom: 100px;

  font-family: $fontMain;
font-size: 44px;
font-weight: 600;
line-height: 44px;
letter-spacing: -0.02em;
text-align: left;

@media screen and (max-width: $desctopScreen) {
     font-size: 32px;
     line-height: 32px;
     margin-bottom: 50px;
  }
@media screen and (max-width: $tabletScreen) {
     font-size: 28px;
     line-height: 28px;
  }
}
.resipe__place {
  display: flex;
  @media screen and (max-width: $desctopScreen) {
     flex-direction: column;
  }
}
.resipe__forms {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
  @media screen and (max-width: $desctopScreen) {
     margin: 0;
  }
}
.form__addresipe-place {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $tabletScreen) {
     flex-direction: column;
  }
}
.form__addresipe-plus {
  padding: 135px;
  background-color: #8BAA36;
  border-radius: 8px;
  font-size: 36px;
  margin-right: 50px;
  @media screen and (max-width: $tabletScreen) {
     margin: 0;
     margin-bottom: 30px;
  }
}
.form__addresipe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 393px;
}
.form__addresipe-itemtitle {
  border: none;
  border-bottom: 1px solid #ccc;

  font-family: $fontMain;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;
width: 393px;
height: 40px;
margin-bottom: 40px;

&::placeholder{
  font-family: $fontMain;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;
color: black;
opacity: 50%;
}

&:focus{
  border: none;
  outline: none;
  border-bottom: 1px solid #8BAA36;
}
}
.form__addresipe-about {
  border: none;
  border-bottom: 1px solid #ccc;

  font-family: $fontMain;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;
width: 393px;
height: 40px;
margin-bottom: 40px;

&::placeholder{
  font-family: $fontMain;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;
color: black;
opacity: 50%;
}
&:focus{
  border: none;
  outline: none;
  border-bottom: 1px solid #8BAA36;
}
}
.categories__select-place {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 40px;
margin-bottom: 40px;

  p{
    font-family: $fontMain;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.02em;
text-align: left;
color: black;
opacity: 50%;
  }
}

#select__categories{
   border: none;
  outline: none;
font-family: $fontMain;
font-size: 14px;
font-weight: 400;
line-height: 14px;
text-align: left;
}

#select__time{
  border: none;
  outline: none;
  width: 122px;

  font-family: $fontMain;
font-size: 14px;
font-weight: 400;
line-height: 14px;
text-align: left;

}

.time__select-place {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
width: 100%;
height: 40px;


  p {
    font-family: $fontMain;
    font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: black;
opacity: 50%;
  }
}

.form__engridients {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 100px;
  @media screen and (max-width: $tabletScreen) {
    margin-bottom: 50px;
  }
}
.form__engridients-forms{
  @media screen and (max-width: $tabletScreen) {
     display: flex;
     flex-direction: column;
     align-items: center;
  }
}

.form__engridients-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;

  h3{
    font-family: $fontMain;
font-size: 24px;
font-weight: 600;
line-height: 24px;
letter-spacing: -0.23999999463558197px;
text-align: left;
color: #3E4462;

  }
  @media screen and (max-width: $tabletScreen) {
     margin-bottom: 30px;
  }
}

.form__engridients-subtitle {
  font-family: $fontMain;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.02em;
text-align: left;
color: #23262A;
}
.form__engridients-input{
  border: none;
  outline: none;  

  background-color: #D9D9D9;
  opacity: 60%;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  margin-right: 35px;
  @media screen and (max-width: $tabletScreen) {
     width: 200px;
     margin-right: 20px;
  }
&::placeholder{
  border: none;
  outline: none;

  font-family: $fontMain;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: -0.02em;
text-align: left;
color: black;
@media screen and (max-width: $tabletScreen) {
     font-size: 16px;
  }
}
&:focus{
  border: none;
  outline: none;
}
&:active{
  border: none;
  outline: none;
}
}
.form__engridients-place{
  margin-bottom: 24px;
  border: none;
  justify-content: flex-start;
  
  p{
    color:black;
    font-size: 20px;
    opacity: 100%;
  }
}
.form__engridients-select{
  border: none;
  outline: none;
  width: 105px;

  font-family: $fontMain;
font-size: 18px;
font-weight: 400;
line-height: 14px;
text-align: left;
background-color: #D9D9D9;
opacity: 60%;
padding: 14px;
border-radius: 8px;
margin-right: 35px;
@media screen and (max-width: $tabletScreen) {
     margin-right: 20px;
     font-size: 16px;
  }
}

.form__engridients-weight{
  border: none;
  outline: none;
  width: 105px;

  font-family: $fontMain;
font-size: 18px;
font-weight: 400;
line-height: 14px;
text-align: left;
background-color: #D9D9D9;
opacity: 60%;
padding: 14px;
border-radius: 8px;
margin-right: 35px;
@media screen and (max-width: $tabletScreen) {
     margin-right: 20px;
     font-size: 16px;
  }
}

.form__engridients-button{
  width: 400px;
  background-color: #8BAA36;
  border: none;
  outline: none;
  border-radius: 8px;
  margin-top: 20px;
  padding: 15px;
  font-family: $fontMain;

  border-radius: 8px;
  width: 400px;
  margin-right: 35px;
  transition: 0.5s all ease;
  cursor: pointer;


  &:hover{
    box-shadow: 0px 4px 4px rgba(0,0,0,0.5)
  }
  @media screen and (max-width: $tabletScreen) {
     margin-right: 0;
     width: 100%;
  }
}

.resipe__praparation-place {
  display: flex;
  flex-direction: column;

  h4{
    font-family: $fontMain;
font-size: 24px;
font-weight: 600;
line-height: 24px;
letter-spacing: -0.23999999463558197px;
text-align: left;
color: #3E4462;
margin-bottom: 32px;
  }
}
.resipe__praparation-input{
    width: 505px;
    height: 224px;
    margin-bottom: 32px;
      border-radius: 8px;
      border: none;
      outline: none;
      background-color: #D9D9D9;

      padding: 29px;
    
    font-family: $fontMain;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.02em;
    top: 10px;
    left: 10px;
    color: black;
    resize: none;
    @media screen and (max-width: $tabletScreen) {
     width: 100%;
  }
  }

.resipe__praparation-btn {
  width: 161px;
  height: 52px;
  border-radius: 25px 50px;
  border: 1px solid $mainColor;
  background-color: $mainColor;
  color: #FAFAFA;

  font-family: $fontMain;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  z-index: 55; 
  transition: all 0.5s ease;
   
  &:hover{
    background-color: $secondaryColor;
    border: none;
  }
  &:active{
    background-color: $secondaryColor;
    border: none;
  }
}


// ==================== follow 

.resipe__follow {
  display: flex;
  flex-direction: column;
}

.resipe__follow-social {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 100px;

  h3{
    font-family: $fontMain;
font-size: 24px;
font-weight: 600;
line-height: 24px;
letter-spacing: -0.23999999463558197px;
text-align: left;
color: #3E4462;
margin-bottom: 40px;
  }
  @media screen and (max-width: $desctopScreen) {
     display: none;
  }
}

.resipe__follow-popular {
  display: flex;
  flex-direction: column;
  h4{
    font-family: $fontMain;
font-size: 24px;
font-weight: 600;
line-height: 24px;
letter-spacing: -0.23999999463558197px;
text-align: left;
color: #3E4462;
margin-bottom: 40px;
  }

  @media screen and (max-width: $desctopScreen) {
     margin-top: 60px;
  }
}

.popular__list {
display: flex;
flex-direction: column;

@media screen and (max-width: $desctopScreen) {
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
  }
}

.popular__item {
  display: flex;
  width: 320px;
  margin-bottom: 24px;
  @media screen and (max-width: $tabletScreen) {
     max-width: 100%;
     width: 100%;
  }
}
.popular__list-text{
  display: flex;
  flex-direction: column;
}

.popular__item-img {
  max-width: 100px;
  border-radius: 8px;
  margin-right: 11px;
}

.popular__item-title {
font-family: $fontMain;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.3px;
text-align: left;
color: #3E4462;
margin-bottom: 0;
@media screen and (max-width: $tabletScreen) {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 10px;
  }
}

.popular__item-subtitle {
font-family: $fontMain;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.3px;
text-align: left;
color: #7E7E7E;
@media screen and (max-width: $tabletScreen) {
    font-weight: 500;
    line-height: 18px;
    font-size: 14px;
  }
}