

.favorites__title {
  font-family: $fontMain;
font-size: 44px;
font-weight: 600;
line-height: 44px;
letter-spacing: 0.3;
text-align: left;
color: #001833;

margin-bottom: 100px;

@media screen and (max-width: $desctopScreen) {
    font-size: 34px;
    line-height: 28px;
    margin-bottom: 50px;
  }

  &.dark__theme{
    color: $whiteColor;
  }
}
.favorites__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.favorites__items {
  display: flex;
  padding: 20px;
  width: 100%;
  border-radius: 8px;

  @media screen and (max-width: $tabletScreen) {
    flex-direction: column;
    align-items: center;
  }

  &.dark__theme{
    background-color: #30313d;
  }
}
.favorites__img {
  width: 320px;
  border-radius: 8px;
  @media screen and (max-width: $desctopScreen) {
    width: 228px;
  }
  @media screen and (max-width: $tabletScreen) {
    width: 400px;
  }
}

.favorites__subtitle {
  display: flex;
  flex-direction: column;
  margin-left: 40px;

  @media screen and (max-width: $tabletScreen) {
    margin-left: 0;
    margin-top: 20px;
  }
}
.favorites__textandimg{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 50px;

  @media screen and (max-width: $desctopScreen) {
    margin-bottom: 10px;
  }
  @media screen and (max-width: $tabletScreen) {
    margin-bottom: 20px;
  }

}

.favorites__subtitle-text{
font-family: $fontMain;
font-size: 24px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.3;
text-align: left;
color: #3E4462;

@media screen and (max-width: $desctopScreen) {
    font-size: 24px;
  }

  &.dark__theme{
    color: $whiteColor;
  }
}

.favorites__trashimg{
  padding: 5px;
  background-color: #EBF3D4;
  border-radius: 8px;
  cursor: pointer;

  @media screen and (max-width: $desctopScreen) {
    width: 28px;
    height: 28px;
  }
  @media screen and (max-width: $tabletScreen) {
    width: 34px;
    height: 34px;
  }
}

.favorites__subtitle-textresipe{
  
font-family: $fontMain;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3;
text-align: left;
color: #23262A;
  
  &:not(:last-child){
    margin-bottom: 14px;
  }
  @media screen and (max-width: $desctopScreen) {
    font-size: 14px;
  }
  @media screen and (max-width: $tabletScreen) {
   line-height: 1.4; 
  }

  &.dark__theme{
    color: $whiteColor;
  }
}
.favorites__subtitle-items {
  &:last-child{
    margin-top: 96px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: $desctopScreen) {
    margin-top: 20px;
  }
  }
}

.favorites__subtitle-time {

font-family: $fontMain;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.3;
text-align: left;
color: #3E4462;

@media screen and (max-width: $desctopScreen) {
   font-weight: 500; 
  }

  &.dark__theme{
    color: $whiteColor;
  }
}
.favorites__btn {
  padding: 18px 44px;
  border-radius: 25px 50px;
  border: none;
  background-color: $mainColor;
  color: #FAFAFA;

  font-family: $fontMain;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  z-index: 55; 
  transition: all 0.5s ease;
   
  &:hover{
    background-color: $secondaryColor;
    border: none;
  }

  @media screen and (max-width: $desctopScreen) {
    padding: 12px 32px;
  }

  &.dark__theme{
    background-color: $secondaryColor;
    border: none;
    &:hover{
      background-color: #7f9936;
      scale: 1;
    }
  }
}

.favorites__numbers {
  position: relative;
  box-shadow: 0 3px 4px #0000001f, 0 1px 1px #00000024, 0 2px 1px #0003;
   list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 480px;
  z-index: 50;
  border-radius: 20px;
  margin-bottom: 15px;
  @media screen and (max-width: $tabletScreen) {
    width: 330px;
  }

  &.dark__theme{
    background-color: #30313d;
  }
}
.favorites__numbers-item{
  margin: 0 5px;
&:hover{
  border-radius: 50%;
  background-color: #EBF3D4;
}
&:active{
  border-radius: 50%;
  background-color: #EBF3D4;
}

&:nth-child(8){
  @media screen and (max-width: $tabletScreen) {
    display: none;
  }
}
&:nth-child(9){
  @media screen and (max-width: $tabletScreen) {
    display: none;
  }
}
&:nth-child(10){
  @media screen and (max-width: $tabletScreen) {
    display: none;
  }
}

&.dark__theme{
  &:hover{
    background-color: $secondaryColor;
  }
}
}
.favorites__numbers-link {
  font-family: $fontMain;
  text-decoration: none;
  color: #656565;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  &.dark__theme{
    color: $whiteColor;
  }

  &:active{
    color: $secondaryColor
  }
}
.favorites__numbers-leftarrow {
  position: absolute;
  top: 18px;
  right: 445px;
  cursor: pointer;
  @media screen and (max-width: $tabletScreen) {
    right: 300px;
  }
}

.favorites__numbers-rightarrow{
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;  
}

.favorites__numbers-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;
}